@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");
.SearchInputs {
  margin-top: 105px;
  margin-left: 30px;
  display: flex;
  border-radius: 5px;
}

.Search input {
  background-color: white;
  border: 0;
  border-radius: 2px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  font-size: 18px;
  padding: 15px;
  height: 30px;
  width: 300px;
}

.SearchIcon {
  height: 60px;
  width: 50px;
  background-color: white;
  display: grid;
  place-items: center;
}

input:focus {
  outline: none;
}
.SearchIcon svg {
  font-size: 35px;
}

.ResultOutput {
  margin-top: 30px;
  margin-left: 30px;
  width: 380px;
  max-height: 450px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
}
.ResultFeild{
  width: 380px;
  height: 50px;
  font-size: medium;
  font-weight: 300;
  border-style: none;
  font-family: "Nunito", sans-serif;
  font-size: 18px;
}
.ResultFeild:hover{
  background-color: cornsilk;
  cursor:default;
}
.ResultOutput::-webkit-scrollbar {
  display: none;
}

.ResultOutput .dataItem {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  color: black;
}

.dataItem p {
  margin-left: 10px;
}
a {
  text-decoration: none;
}

a:hover {
  background-color: lightgrey;
}

#clearBtn {
  cursor: pointer;
}